.tableManager {
  width: 92%;
  margin: auto;
  padding-top: 40px;
  .dFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.modalRequests {
  .ant-modal-footer {
    button {
      span {
        pointer-events: none;
      }
    }
  }
}
.errorField {
  color: red;
  margin-right: 10px;
}

.searchInput {
  width: 92%;
  margin: auto;
  padding-top: 40px;
}
